body {
    margin: 0;
    font-family: 'Barlow', sans-serif;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

/* start css code for Top Bar section */

.top_bar {
    height: 75px;
    display: flex;
    align-items: center;
    background: #fff;
}

.container {
    box-sizing: border-box;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.items-center {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    line-height: 1.5;
    justify-content: space-around;
}

.logowash {
    padding-right: 15px;
    padding-left: 15px;
}

.logo h1 {
    text-decoration: none;
    margin: -4px 0 0;
    color: #E81C2E;
    font-size: 50px;
    line-height: 50px;
    font-weight: 800;
    letter-spacing: 1px;
    font-style: italic;
}

a {
    text-decoration: none;
    background-color: transparent;
}

.logo h1 span {
    color: #202C45;
}

.bar-right {
    padding-right: 15px;
    padding-left: 15px;
}

.bar-right-items {
    display: flex;
}

.top-bar-item {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.top-bar-icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #202C45;
    border-radius: 40px;
}

.top-bar-icon i {
    margin: 0;
    color: #fff;
    font-size: 16px;
}

.top-bar-text {
    padding-left: 15px;
}

.top-bar-text h3 {
    margin: 0 0 5px;
    font-size: 18px;
    font-weight: 600;
}

.top-bar-text p {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
}

.oce-items {
    padding-right: 40px;
    padding-left: 40px;
}
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
@media (max-width: 1130px) {
    .bar-right {
        display: none;
    }
}

@media (max-width: 768px) {
    .logowash h1 {
        font-size: 30px;
        transition: 0.5s;
        transform: 0.5s;
    }
}

@media (max-width: 268px) {
    .logowash h1 {
        font-size: 19px;
        transition: 0.5s;
        transform: 0.5s;
    }
}

/* end css code for Top Bar section */

/* start css code for Nav Bar section */

nav {
    position: sticky;
    top: 0;
    z-index: 3;
    background: #202C45;
    
}
@media (min-width: 1200px) {
    .container-nav {
        max-width: 1140px;
    }
}

nav a.activelink {
    text-decoration: none;
    color: #E81C2E;
    padding: 15px;
    letter-spacing: 1px;
}

nav .container-nav .link {
    text-decoration: none;
    color: #fff;
    padding: 15px;
    transition: 1s;
    letter-spacing: 1px;
}

nav .container-nav .link:hover {
    color: #E81C2E;
    transition: 1s;
}

.menu {
    flex-direction: row;
}

.container-nav {
    display: flex;
    padding: 35px 25px 35px;
    justify-content: space-around;
    align-items: baseline;
    margin-left: auto;
    margin-right: auto;
}

.Appointment {
    display: flex;
    flex-direction: row-reverse;
}

nav .Appointment .buttonAppointment {
    text-decoration: none;
    color: #202C45;
    background: #fff;
    padding: 10px 30px 12px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 60px;
    transition: 0.7s;
}

.buttonAppointment:hover {
    box-shadow: inset 200px 0 0 0 #E81C2E;
    color: whitesmoke;
}

.navbar-toggler {
    cursor: pointer;
    color: rgba(255, 255, 255, .5);
    border-color: rgba(255, 255, 255, .1);
    font-size: 1.25rem;
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
    border-color: rgba(255, 255, 255, .1);
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
}

.navbar-toggler-icon {
    background-image: url(../assets/images/download.svg);
}

.navbar-brand {
    color: #fff;
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

@media (min-width: 778px) {
    .navbar-toggler {
        display: none;
    }
}

@media (max-width: 778px) {
    .Appointment {
        display: none;
    }
}

@media (max-width: 778px) {
    .menu {
        display: none;
    }
}

@media (min-width: 778px) {
    .navbar-brand {
        display: none;
    }
}

/* End css code for Nav Bar section */

/* start css code for Carousel section */

.carousel {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    position: relative;
    height: 600px;
    background-image: url(../assets/images/img_mountains_wide.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 150px;
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
}

.carousel::after {
    position: absolute;
    content: "";
    top: 0px;
    
    bottom: 0;
   width: 100%;
    background: rgba(0, 0, 0, .5);
    z-index: 1;
}



.carousel-text {
    position: absolute;
    max-width: 992px;
    padding: 0 15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
}

.carousel-text h3 {
    margin: 0;
    color: #E81C2E;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 0;
}

.carousel-text h1 {
    margin: 0;
    color: #fff;
    font-size: 90px;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.carousel-text p {
    margin: 0;
    max-width: 500px;
    color: #fff;
    font-size: 18px;
    margin-bottom: 40px;
}

a {
    text-decoration: none;
    background-color: transparent;
}

.btn {
    text-decoration: none;
    padding: 20px 45px 22px;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    background-color: rgb(232, 28, 46);
    border: none;
    border-radius: 60px;
    box-shadow: inset 0 0 0 0 #202c45;
    transition: 0.7s;
}

.btn:hover {
    box-shadow: inset 200px 0 0 0 #202c45;
    color: whitesmoke;
}

.carousel .owl-nav {
    position: absolute;
    width: 100%;
    height: 50px;
    top: calc(50% - 25px);
    left: 0;
    display: flex;
    justify-content: space-between;
    z-index: 9;
    padding-left: 15px;
    padding-right: 15px;
}
.carousel .owl-nav .owl-prev {
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 50px;
    background: rgba(256,256,256,.2);
    font-size: 22px;
    transition: .5s;
}
.carousel .owl-nav .owl-next {
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 50px;
    background: rgba(256,256,256,.2);
    font-size: 22px;
    transition: .5s;
}
.carousel .owl-nav .owl-prev:hover, .carousel .owl-nav .owl-next:hover {
    color: #fff;
    background: #E81C2E;
}

@media (max-width: 1200px) {
    .carousel {
        margin:0 ;
        transition: 0.5s;
        transform: 0.5s;
    }
}
@media (max-width: 992px) {
    .carousel-text h1 {
        font-size: 50px;
        transition: 0.5s;
        transform: 0.5s;
    }
}

@media (max-width: 992px) {
    .carousel-text h3 {
        font-size: 15px;
        transition: 0.5s;
        transform: 0.5s;
    }
}

@media (max-width: 576px) {
    .carousel-text h1 {
        font-size: 35px;
        transition: 0.5s;
        transform: 0.5s;
    }
}

@media (max-width: 576px) {
    .carousel-text p {
        font-size: 12px;
        max-width: 220px;
        transition: 0.5s;
        transform: 0.5s;
    }
}

@media (max-width: 576px) {
    .carousel-text .btn {
        padding: 10px 35px 10px;
        font-size: 13px;
        transition: 0.5s;
        transform: 0.5s;
    }
}

/* end css code for Carousel section */

/* Start css code for About section */

.text-top p::after {
    left: 0;
    position: absolute;
    content: "";
    width: 50%;
    height: 2px;
    bottom: 0;
    background: #E81C2E;
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: -webkit-center;
    top: calc(594px - 50%);
}

.text h3 {
    color: #E81C2E;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 0;
}

.text h1 {
    color: #fff;
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.text p {
    max-width: 600px;
    color: #fff;
    font-size: 18px;
    margin-bottom: 40px;
}

.btn {
    text-decoration: none;
    padding: 20px 45px 22px;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    background-color: rgb(232, 28, 46);
    border: none;
    border-radius: 60px;
    box-shadow: inset 0 0 0 0 #202c45;
    transition: 0.7s;
}

.btn:hover {
    box-shadow: inset 200px 0 0 0 #202c45;
    color: whitesmoke;
}

.About {
    position: relative;
    width: 100%;
    padding: 45px 10px 15px;
}

.container-about {
    display: flex;
    padding: 35px 0px 35px 0px;
    justify-content: flex-start;
    align-items: center;
    max-width: 100vw;
    margin-left: auto;
    margin-right: auto;
}

.items-center-about {
    align-items: center;
    padding-right: 35px;
    padding-left: 15px;
}

.items-img {
    box-sizing: border-box;
}

.about-img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 30px;
}

.items-text {
    max-width: 50%;
}

.text-top p {
    display: inline-block;
    margin-bottom: 10px;
    padding-bottom: 5px;
    position: relative;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #E81C2E;
}

.text-top h2 {
    color: #202C45;
    margin: 0;
    font-size: 45px;
    font-weight: 700;
    text-transform: capitalize;
}

.about-content ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 25px;
}

.about-content ul li {
    margin-bottom: 5px;
}

.about-content ul li i {
    margin-right: 8px;
    color: #E81C2E;
}

.btn-about {
    display: inline-block;
    cursor: pointer;
    padding: 10px 30px 12px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    background: #E81C2E;
    border: none;
    border-radius: 60px;
    box-shadow: inset 0 0 0 0 #202c45;
    text-decoration: none;
    transition: 0.7s;
}

.btn-about:hover {
    box-shadow: inset 200px 0 0 0 #202c45;
    color: whitesmoke;
}

.about-img img {
    height: 650px;
}

@media (max-width: 992px) {
    .text-top p {
        font-size: 13px;
        transition: 0.5s;
        transform: 0.5s;
    }
}

@media (max-width: 992px) {
    .text-top h2 {
        font-size: 35px;
        transition: 0.5s;
        transform: 0.5s;
    }
}

@media (max-width: 576px) {
    .text-top h2 {
        font-size: 30px;
        transition: 0.5s;
        transform: 0.5s;
    }
}

@media (max-width: 340px) {
    .text-top h2 {
        font-size: 20px;
        transition: 0.5s;
        transform: 0.5s;
    }
}

@media (max-width: 1200px) {
    .about-img img {
        height: 500px;
        transition: 0.5s;
        transform: 0.5s;
    }
}

@media (max-width: 992px) {
    .about-img img {
        height: 400px;
        transition: 0.5s;
        transform: 0.5s;
    }
}

@media (max-width: 440px) {
    .about-img img {
        height: 300px;
        transition: 0.5s;
        transform: 0.5s;
    }
}

@media (max-width: 340px) {
    .about-img img {
        height: 200px;
        transition: 0.5s;
        transform: 0.5s;
    }
}

@media (max-width: 250px) {
    .about-img img {
        height: 90px;
        transition: 0.5s;
        transform: 0.5s;
    }
}

@media (max-width: 992px) {
    .about-content ul {
        font-size: 12px;
        transition: 0.5s;
        transform: 0.5s;
    }
}

@media (max-width: 576px) {
    .about-content p {
        font-size: 12px;
        transition: 0.5s;
        transform: 0.5s;
    }
}

@media (max-width: 992px) {
    .btn-about {
        padding: 7px 22px 7px;
        font-size: 13px;
        transition: 0.5s;
        transform: 0.5s;
    }
}

@media (max-width: 992px) {
    .container-about {
        padding: 35px 0px 35px 10px;
        transition: 0.5s;
        transform: 0.5s;
    }
}

@media (max-width: 992px) {
    .container-about {
        padding: 7px 22px 7px;
        display: block;
        transition: 0.5s;
        transform: 0.5s;
    }
}

@media (max-width: 992px) {
    .container-about {
        display: block;
        transition: 0.5s;
        transform: 0.5s;
    }
}

@media (max-width: 992px) {
    .itimes-text {
        padding-left: 15px;
        transition: 0.5s;
        transform: 0.5s;
    }
}

@media (min-width: 1200px) {
    .container-about {
        max-width: 1140px;
    }
}

/* End css code for About section */

/* Start css code for Service section */

.service {
    width: 100%;
    padding: 45px 10px 15px;
}

.container-service {
    width: 100%;
   
    margin-left: auto;
    margin-right: auto;
}

.header-text {
    text-align: center;
    width: 100%;
    max-width: 700px;
    margin: 0 auto 45px auto;
}

.header-text p {
    display: inline-block;
    margin-bottom: 10px;
    padding-bottom: 5px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #E81C2E;
}

.header-text h2 {
    margin: 0;
    font-size: 45px;
    font-weight: 700;
    text-transform: capitalize;
}

.row {
    display: flex;
    flex-wrap: wrap;
    
    justify-content: space-between;
}

.row-itimes {
    flex: 0 0 25%;
    max-width: 21%;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.service-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 45px;
}

.service-item i {
    color: #202C45;
    font-size: 75px;
    line-height: 75px;
    margin-bottom: 20px;
}

.service-item p {
    margin: 0;
}

.service-item h3 {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
}

.service-item i:before {
    margin: 0;
    font-size: 60px;
    line-height: 60px;
    background-image: linear-gradient(#E81C2E, #202C45);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: .5s;
}

@media (max-width: 576px) {
    .row {
        justify-content: flex-start;
        flex-direction: column;
        transition: 0.5s;
        transform: 0.5s;
    }
}

@media (max-width: 576px) {
    .row-itimes {
        max-width: 45%;
        transition: 0.5s;
        transform: 0.5s;
    }
}

@media (max-width: 992px) {
    .row-itimes {
        flex: 0 0 50%;
        max-width: 100%;
    }
}

@media (max-width: 576px) {
    .header-text p {
        font-size: 12px;
        transition: 0.5s;
        transform: 0.5s;
    }
}

@media (max-width: 576px) {
    .header-text h2 {
        font-size: 30px;
        transition: 0.5s;
        transform: 0.5s;
    }
}
@media (min-width: 1200px) {
    .container-service {
        max-width: 1140px;
    }
}

/* End css code for Service section */

/* Start css code for FACTS section */

.facts {
    width: 100%;
    min-height: 400px;
    margin: 45px 0;
    display: flex;
    align-items: center;
    background: #202C45;
}

.container-facts {
    width: 100%;
    
    margin-right: auto;
    margin-left: auto;
}

.row-facts {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   
}

.row-facts-itimes {
    position: relative;
    /* width: 50%; */
    padding-right: 15px;
    padding-left: 15px;
}

@media (max-width: 992px) {
    .row-facts-itimes {
        flex: 0 0 50%;
        max-width: 100%;
    }
}

@media (max-width: 576px) {
    .row-facts {
        justify-content: flex-start;
        flex-direction: column;
        transition: 0.5s;
        transform: 0.5s;
    }
}

@media (min-width: 1200px) {
    .container-facts {
        max-width: 1140px;
    }
}
.facts .facts-item {
    display: flex;
    flex-direction: row;
    margin: 25px 0;
}

.facts .facts-item i {
    margin-top: 15px;
    font-size: 45px;
    color: #E81C2E;
}

.facts .facts-text {
    padding-left: 20px;
}

.facts .facts-text h3 {
    margin-top: 0;
    margin-bottom: .5rem;
    position: relative;
    display: inline-block;
    color: #fff;
    font-size: 60px;
    font-weight: 700;
}

.facts .facts-text h3::after {
    position: absolute;
    content: "\f067";
    top: 0;
    right: -25px;
    color: #fff;
    font-size: 25px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

.facts .facts-text p {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
}

/* End css code for FACTS section */

/* Start css code for PRICE section */

.price {
    width: 100%;
    padding: 45px 0 15px;
}

.container-price {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.section-header-text-center {
    width: 100%;
    max-width: 700px;
    margin: 0 auto 45px auto;
    text-align: center;
}

.section-header-text-center p {
    display: inline-block;
    margin-bottom: 10px;
    padding-bottom: 5px;
    position: relative;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #E81C2E;
}

.section-header-text-center p::after {
    position: absolute;
    content: "";
    width: 50%;
    height: 2px;
    left: 25%;
    bottom: 0;
    background: #E81C2E;
}

.section-header-text-center h2 {
    margin: 0;
    font-size: 45px;
    font-weight: 700;
    text-transform: capitalize;
}

.row-price {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}



.price .price-item {
    padding: 0 22px;
    margin-bottom: 30px;
    background: #fff;
    border-radius: 5px;
    text-align: center;
}

.price .price-header {
    padding: 45px 0 30px;
}

.price .price-header h3 {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.price .price-header h2 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 5px;
}

.price .price-header h2 span {
    font-size: 25px;
    line-height: 55px;
}

strong {
    font-weight: bolder;
}

.price-body {
    padding: 0 0 20px;
}

.price-body ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.price-body ul li {
    padding: 0 0 15px;
}

.price-body ul li i {
    margin-right: 10px;
}

.price .price-body ul li i.fa-check-circle {
    color: #39B972;
}

.price .price-body ul li i.fa-times-circle {
    color: #ccc;
}

.price-footer {
    padding-bottom: 45px;
}

.price .price-item-featured-item {
    padding: 0 40px;
    margin-bottom: 30px;
    background: #fff;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 30px rgb(0 0 0 / 20%);
    z-index: 1;
}

.price .price-item-featured-item h3 {
    color: #E81C2E;
}

.price .price-item-featured-item h2 {
    color: #E81C2E;
}

.price-footer .btn.btn-custom {
    color: #E81C2E;
    background: #202C45;
    box-shadow: inset 0 0 0 0 #e81c2e;
}

.btn.btn-custom {
    padding: 10px 30px 12px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 60px;
}

.price-footer .btn.btn-custom:hover {
    color: #fff;
    background: #E81C2E;
    box-shadow: inset 200px 0 0 0 #e81c2e;
}

.price .price-item-featured-item .price-footer .btn.btn-custom {
    color: #fff;
    background: #E81C2E;
    box-shadow: inset 0 0 0 0 #202c45;
}

.price-item-featured-item .price-footer .btn.btn-custom:hover {
    color: #E81C2E;
    background: #202C45;
    box-shadow: inset 200px 0 0 0 #202c45;
}

@media (min-width: 1200px) {
    .container-price {
        max-width: 1140px;
    }
}

/* End css code for PRICE section */

/* Start css code for LOCATION section */

.location {
    width: 100%;
    padding: 45px 0;
}

.container-location {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.row-location {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.section-number-one {
    max-width: 522px;
    
}

.section-header-text-left {
    width: 100%;
    max-width: 700px;
    margin: 0 auto 45px auto;
    text-align: center;
}

.section-header-text-left p {
    display: inline-block;
    margin-bottom: 10px;
    padding-bottom: 5px;
    position: relative;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #E81C2E;
}

.section-header-text-left p::after {
    position: absolute;
    content: "";
    width: 50%;
    height: 2px;
    left: 25%;
    bottom: 0;
    background: #E81C2E;
    left: 0;
}

.section-header-text-left h2 {
    margin: 0;
    font-size: 45px;
    font-weight: 700;
    text-transform: capitalize;
    color: #202C45;
}

.row-location-one {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
}

.row-location-one-itimes {
    /* width: 100%; */
    padding-right: 15px;
    padding-left: 15px;
}

.location-item {
    display: flex;
    margin-bottom: 30px;
}

.location .location-item i {
    padding-top: 3px;
    font-size: 30px;
    color: #E81C2E;
}

.location-text {
    padding-left: 15px;
}

.location-text h3 {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
}

.location-text p {
    margin-bottom: 5px;
}

.location-text p strong {
    color: #444;
    margin-right: 5px;
    font-weight: 600;
}

.section-number-two {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 522px;
}

.location-form {
    padding: 45px 30px;
    background: #E81C2E;
    border-radius: 5px;
}

.location-form h3 {
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 25px;
}

.control-group {
    margin-bottom: 15px;
}

.form-control {
    display: block;
    width: 100%;
    height: 45px;
    color: #fff;
    padding: 0 15px;
    border-radius: 5px;
    border: 1px solid #fff;
    background: transparent;
    font-family: inherit;
}

textarea.form-control {
    height: 120px;
    padding: 15px;
}

.location .location-form .btn.btn-custom {
    cursor: pointer;
    /* width: 100%; */
    color: #E81C2E;
    background: #fff;
    box-shadow: inset 0 0 0 0 #202c45;
    padding: 10px 30px 12px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 60px;
}

.location-form .btn.btn-custom:hover {
    color: #fff;
    background: #E81C2E;
    box-shadow: inset 163px 0 0 0 #202c45;
}

@media (min-width: 1200px) {
    .container-location {
        max-width: 1140px;
    }
}

/* End css code for LOCATION section */

/* Start css code for TEAM section */

.team {
    position: relative;
    width: 100%;
    padding: 45px 0 15px;
}

.container-team {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.team-text-center {
    position: relative;
    width: 100%;
    max-width: 700px;
    margin: 0 auto 45px auto;
    text-align: center;
}

.team-text-center p {
    display: inline-block;
    margin-bottom: 10px;
    padding-bottom: 5px;
    position: relative;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #E81C2E;
}

.team-text-center p::after {
    position: absolute;
    content: "";
    width: 50%;
    height: 2px;
    left: 25%;
    bottom: 0;
    background: #E81C2E;
}

.team-text-center h2 {
    margin: 0;
    font-size: 45px;
    font-weight: 700;
    text-transform: capitalize;
    color: #202C45;
}

.row-team {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.row-item {
    position: relative;
    max-width: 25%;
    padding-right: 15px;
    padding-left: 15px;
}

.team .team-item {
    position: relative;
    margin-bottom: 30px;
}

.team .team-img {
    position: relative;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}

.team .team-img img {
    width: 100%;
    transition: .3s;
    vertical-align: middle;
    border-style: none;
}

.team .team-text {
    position: relative;
    width: 100%;
    padding: 35px 30px 30px;
    text-align: center;
    background: #202C45;
    border-radius: 0 0 5px 5px;
    transition: .5s;
}

.team .team-text h2 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.team .team-text p {
    margin: 0;
    color: #fff;
}

.team .team-social {
    position: absolute;
    width: 100%;
    height: 40px;
    top: -20px;
    left: 0;
    text-align: center;
    font-size: 0;
}

.team .team-social a {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0 3px;
    padding: 7px 0;
    text-align: center;
    font-size: 16px;
    color: #fff;
    background: #202C45;
    border-radius: 40px;
    transition: .5s;
}

.team .team-item:hover img {
    transform: scale(1.1);
}

.team .team-item:hover .team-text {
    background: #E81C2E;
}

.team .team-item:hover .team-social a {
    background: #E81C2E;
}

@media (max-width: 992px) {
    .team .team-text h2 {
        color: #fff;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 1px;
        margin-bottom: 10px;
    }
}

@media (max-width: 992px) {
    .team .team-social a {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 1200px) {
    .row-item {
        flex: 0 0 25%;
        max-width: 100%;
    }
}

@media (max-width: 992px) {
    .row-item {
        flex: 0 0 50%;
        max-width: 100%;
    }
}

@media (max-width: 576px) {
    .row-item {
        flex: 0 0 25%;
        max-width: 100%;
    }
}

@media (max-width: 576px) {
    .team .team-social a {
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 576px) {
    .row-item {
        flex: 0 0 23%;
        max-width: 100%;
    }
}

@media (max-width: 576px) {
    .row-team {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }
}

@media (min-width: 1200px) {
    .container-team {
        max-width: 1140px;
    }
}


/* End css code for TEAM section */

/* Start css code for Testimonial section */

.testimonial {
    position: relative;
    width: 100%;
    padding: 45px 0;
}

.container-testimonial {
    width: 100%;
    
    margin-right: auto;
    margin-left: auto;
}

.testimonial-text-center {
    position: relative;
    width: 100%;
    max-width: 700px;
    margin: 0 auto 45px auto;
    text-align: center;
}

.testimonial-text-center p {
    display: inline-block;
    margin-bottom: 10px;
    padding-bottom: 5px;
    position: relative;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #E81C2E;
}

.testimonial-text-center p::after {
    position: absolute;
    content: "";
    width: 50%;
    height: 2px;
    left: 25%;
    bottom: 0;
    background: #E81C2E;
}

.testimonial-text-center h2 {
    margin: 0;
    font-size: 45px;
    font-weight: 700;
    text-transform: capitalize;
    color: #202C45;
}

.row-testimonial {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.testimonial-img img {
    border-radius: 80px;
    overflow: hidden;
}

.testimonial-item {
    display: flex;
}

.testimonial-text {
    padding-left: 20px;
}

.testimonial-text h4 {
    margin-top: 2px;
    color: #777;
    font-size: 15px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 10px;
}

.testimonial-text h3 {
    margin: 0;
}

.testimonial-text p::before {
    content: "\f10d";
    font-size: 25px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #E81C2E;
    margin-right: 10px;
}

.row-item-testimonial {
    position: relative;
    max-width: 30%;
    padding-right: 15px;
    padding-left: 15px;
    margin: 5px 0px 5px 0px;
}

@media (max-width: 992px) {
    .row-item-testimonial {
        flex: 0 0 50%;
        max-width: 100%;
    }
}

@media (max-width: 576px) {
    .row-item-testimonial {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.testimonial .owl-dots {
    margin-top: 15px;
    text-align: center;
}

.testimonial .owl-dot.active {
    background: #E81C2E;
}

.testimonial .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 10px;
    background: #ddd;
}

@media (min-width: 1200px) {
    .container-testimonial {
        max-width: 1140px;
    }
}

/* End css code for Testimonial section */

/* Start css code for Blog section */

.blog {
    position: relative;
    width: 100%;
    padding: 45px 0 0;
}

.container-blog {
    width: 100%;
    padding: 0 15px;
    margin-right: auto;
    margin-left: auto;
}

.blog-text-center {
    position: relative;
    width: 100%;
    max-width: 700px;
    margin: 0 auto 45px auto;
    text-align: center;
}

.blog-text-center p {
    display: inline-block;
    margin-bottom: 10px;
    padding-bottom: 5px;
    position: relative;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #E81C2E;
}

.blog-text-center p::after {
    position: absolute;
    content: "";
    width: 50%;
    height: 2px;
    left: 25%;
    bottom: 0;
    background: #E81C2E;
}

.blog-text-center h2 {
    margin: 0;
    font-size: 45px;
    font-weight: 700;
    text-transform: capitalize;
}

.row-blog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.blog-item-full {
    position: relative;
    
    max-width: 30%;
}

.blog .blog-item {
    margin-bottom: 45px;
}

.blog .blog-img {
    position: relative;
    width: 100%;
}

.blog .blog-img img {
    width: 100%;
    border-radius: 5px;
}

.blog .meta-date {
    position: absolute;
    width: 70px;
    height: 70px;
    bottom: 10%;
    left: calc(50% - 35px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 70px;
    background: #202C45;
    color: #fff;
    opacity: 0;
    transition: .5s;
}

.blog .meta-date span {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
}

.blog .meta-date strong {
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.blog .meta-date span {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
}

.blog .blog-text {
    padding: 25px 0 20px;
}

.blog .blog-text h3 {
    font-size: 22px;
    font-weight: 700;
}

.blog .blog-text h3 a {
    color: #202C45;
}

.blog .blog-text p {
    margin: 0;
}

.blog .blog-meta {
    display: flex;
}

.blog .blog-meta p:first-child {
    padding-left: 0;
}

.blog .blog-meta i {
    color: #999;
    margin-right: 5px;
}

.blog .blog-meta a {
    color: #999;
}

.blog .blog-meta p {
    margin: 0;
    font-size: 14px;
    line-height: 14px;
    padding: 0 10px;
    border-right: 1px solid rgba(0, 0, 0, .15);
}

.blog .blog-item:hover .meta-date {
    bottom: calc(50% - 35px);
    opacity: 1;
}

.blog .blog-text h3 a:hover {
    color: #E81C2E;
}

.blog .blog-meta a:hover {
    color: #E81C2E;
}

@media (max-width: 1200px) {
    .blog-item-full {
        /* flex: 0 0 100%; */
        max-width: 26%;
    }
}

@media (max-width: 992px) {
    .blog-item-full {
        /* flex: 0 0 100%; */
        max-width: 90%;
    }
}

@media (max-width: 576px) {
    .blog-item-full {
        /* flex: 0 0 100%; */
        max-width: 100%;
    }
}

@media (max-width: 1200px) {
    .blog .blog-text {
        padding: 0px 0 15px;
    }
}

@media (max-width: 1200px) {
    .blog .blog-text h3 {
        font-size: 18px;
        font-weight: 700;
    }
}

@media (max-width: 1200px) {
    .blog .blog-text p {
        font-size: 14px;
    }
}

@media (min-width: 1200px) {
    .container-blog {
        max-width: 1140px;
    }
}

/* End css code for Blog section */


/* Start css code for Footer section */
.footer {
    position: relative;
    margin-top: 45px;
    padding-top: 90px;
    background: #202C45;
}

.container-footer {
    width: 100%;
    padding: 0 15px;
    margin-right: auto;
    margin-left: auto;
}

.row-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.row-footer-item {
    position: relative;
    width: 100%;
    max-width: 22%;
}

@media (max-width: 992px) {
    .row-footer-item {
        max-width: 50%;
    }
}

@media (max-width: 576px) {
    .row-footer-item {
        max-width: 80%;
    }
}

.footer .footer-contact {
    margin-bottom: 45px;
    color: #fff;
}

.footer .footer-contact h2 {
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #E81C2E;
}

.footer .footer-contact p i {
    width: 25px;
}

.footer .footer-social {
    margin-top: 20px;
    display: flex;
}

.footer .footer-social a {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #202C45;
    background: #fff;
    border-radius: 40px;
    margin-right: 5px;
    transition: .5s;
}

.footer .footer-link {
    margin-bottom: 45px;
    color: #fff;
}

.footer .footer-link h2 {
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #E81C2E;
}

.footer .footer-link a::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .footer-link a {
    display: block;
    margin-bottom: 10px;
    color: #fff;
    transition: .3s;
}
.footer .footer-link a:hover {
    color: #E81C2E;
    letter-spacing: 1px;
}

.footer .footer-newsletter {
    position: relative;
    margin-bottom: 45px;
    color: #fff;
}

.footer .footer-newsletter h2 {
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #E81C2E;
}

.footer .footer-newsletter input {
    margin-bottom: 15px;
    height: 45px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 5px;
}

.btn-footer-form {
    width: 100%;
    color: #202C45;
    background: #fff;
    box-shadow: inset 0 0 0 0 #e81c2e;
    padding: 10px 30px 12px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 60px;
    cursor: pointer;
    transition: 1s;
}

.btn-footer-form:hover {
    width: 100%;
    color: #fff;
    background: #E81C2E;
    box-shadow: inset 200px 0 0 0 #e81c2e;
}
.footer .footer-social a:hover {
    color: #fff;
    background: #E81C2E;
}

@media (min-width: 1200px) {
    .container-footer {
        max-width: 1140px;
    }
}

/* Start css code for Footer section */